.extend-top {
    -webkit-animation-name: extend;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;

    animation-name: extend;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes extend {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}

@-webkit-keyframes extend {
    0% {
        height: 0%;
    }
    100% {
        height: 100%;
    }
}

.shrink-bottom {
    -webkit-animation-name: shrink;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;

    animation-name: shrink;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes shrink {
    0% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}

@-webkit-keyframes shrink {
    0% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}